@import url('https://fonts.cdnfonts.com/css/lord-spirit');
@import url('https://fonts.cdnfonts.com/css/lumanosimo');

nav .brand-logo {
    font-family: 'Lord Spirit', sans-serif;
    color: #031929;
    font-size: 3em;                                                                                                                                            
}

.nav-wrapper{
    background-color: #CD8D47;
    padding: 5px 20px 5px 25px;
}

nav ul a {
    color: #031929;
    font-weight: 600;
}

.text-shadow {
    font-family: 'Lumanosimo', sans-serif;                                                                                              
    text-shadow: 2px 2px 2px rgba(234, 194, 134, 0.5);
}

.banner-text{
    font-family: 'Lumanosimo', sans-serif;
    font-weight: bold;
    color: #031929;
}

h1{    
    line-height: 25%;
}

.main {
    background-image: url("../img/main-img-2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #CD8D47;
}

.card-panel{
    background-color: #EAC286;
    opacity: 6.9;
}

/* Slider Styles */
.banner {
    background-image: url("../img/main-img-2.png");
    opacity: 0.5;
    height: 40vh;
    width: 100vw;
    text-align: center;
    margin: 10px 0; /* Adjusted margin to avoid unnecessary side space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Position relative to manage content stacking */
    z-index: 3; /* Ensure banner content is on top of the overlay */
}

/* footer styles */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Lumanosimo', sans-serif;                                                                                              
    text-shadow: 2px 2px 2px rgba(234, 194, 134, 0.5);
  }

  main {
    flex: 1 0 auto;
  }