@import url('https://fonts.cdnfonts.com/css/lord-spirit');
@import url('https://fonts.cdnfonts.com/css/lumanosimo');

nav .brand-logo {
    font-family: 'Lord Spirit', sans-serif;
    color: #031929;
    font-size: 3em;                                                                                                                                            
}

.nav-wrapper{
    background-color: #CD8D47;
    padding: 5px 20px 5px 25px;
}

nav ul a {
    color: #031929;
    font-weight: 600;
}

.banner-text{
    font-family: 'Lumanosimo', sans-serif;
    font-weight: bold;
    color: #031929;
}

h1{    
    line-height: 25%;
}

.main {
    background-image: url("../img/main-img-2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #CD8D47;
}

.card-panel{
    background-color: #EAC286;
    opacity: 6.9;
}

/* Slider Styles */
.banner {
    background-color: rgba(234, 194, 134, 0.479);    
    text-align: center;
    margin: 2px 2px 2px 2px; /* Adjusted margin to add a bit of border */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Position relative to manage content stacking */
    z-index: 3; /* Ensure banner content is on top of the overlay */
}

/* footer styles */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Lumanosimo', sans-serif;                                                                                              
    text-shadow: 2px 2px 2px rgba(234, 194, 134, 0.5);
  }

  main {
    flex: 1 0 auto;
  }

  .card-panel{
    border-radius: 5%;
    background-color: rgba(234, 194, 134, 0.579);
    text-align: center;
  }

  .collapsible-header{
    border: 1px solid black;
    margin-bottom: 5px;
    
  }

  .collapsible-header h6 {
    line-height: 18%;
  }

  .collapsible-body{
    background-color: rgba(234, 194, 134, 0.8);
  }