{% extends "base.html" %}
{% block header %}
<section class="container">    
    <div class="row">
        <div class="col s12">
            <p class="banner center-align">
                <b style="text-decoration: underline;">Share Your Journey Insights with Us!</b><br>
                Your experiences, whether they involve a spiritual journey, photography expedition, trekking adventure, lessons, retreat, or simply a visit to pray, are invaluable to our community. Each of these unique purposes offers a different perspective, and we'd love to hear about your experience. By sharing the details of your journey—be it a moment of connection, a beautiful landscape, or a quiet place of reflection—you can inspire and guide others on their paths. Please take a moment to share your story, and help enrich the experiences of fellow travelers in our community. 
            </p>
        </div>
    </div>
</section>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_insights') }}">
            <div class="card-panel">
                <!-- Where did you go field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-gopuram prefix black-text"></i>
                        <input id="where" name="where" type="text" minlength="2" maxlength="100" pattern="([^\s][A-z0-9À-ž\s]+)" class="validate" required>
                        <label for="where" class="black-text">Where did you go?</label>
                    </div>
                </div>

                <!-- Rating field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-hands-praying prefix black-text"></i>
                        <input id="rating" name="rating" type="text" pattern="^[0-10]{1,2}$" class="validate" required>
                        <label for="rating" class="black-text">How would you rate your experience?</label>
                        <p>Pick a number 0-10 (0=worst, 10=best)</p>
                    </div>
                </div>

                <!-- When did you go field -->
                <div class="row">
                    <div class="input-field col s12">                        
                        <i class="fas fa-calendar-alt prefix black-text"></i>
                        <input id="visit_date" name="visit_date" type="text" class="datepicker validate" required>
                        <label for="visit_date">When did you go?</label>                      
                    </div>
                </div>

                <!-- Purpose field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-regular fa-rectangle-list prefix black-text"></i>
                        <input id="purpose" name="purpose" type="text" pattern="^[a-zA-Z0-9\s]{2,20}$" class="validate" required>
                        <label for="purpose" class="black-text">What was the purpose of your visit?</label>                                                
                    </div>
                </div>

                
                <!-- Description field -->
                <div class="row center-align">                    
                    <div class="input-field col s12">
                        <label for="review_des" class="black-text" style="font-size: 1.2rem;">Tell Us More About Your Experience!</label>
                        <textarea id="review_des" name="review_des" class="materialize-textarea validate" minlength="5" maxlength="800" required></textarea>
                    </div>
                </div>


                <!-- Submit Button -->
                <div class="row">
                    <button type="submit" class="col s5 offset-s3 btn black-text text-darken-4 orange">
                        Submit <i class="prefix black-text"></i>                        
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
