<!-- 
    MILESTONE PROJECT 3 by Ashwinkarthik Selvaraj
    "Yaatra - Spiritual Tour Guide"
    - - - - - - - - - - - - - - - - - - - -
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Site Metadata -->
    <meta name="description" 
        content="The primary purpose of this platform is to connect spiritual travellers, tour operators, and cultural enthusiasts, 
            offering a space to share and discover detailed reviews of spiritual journeys. By focusing on the unique aspects of spiritual 
            and religious travel, the platform aims to stand out from other travel review websites.">
    <meta name="keywords" 
        content="spiritual, travel, religious sites, india, deity, tour, travel review, , The Full Guide To Spiritual Tourism In India, sacred">
    <meta name="author" content="Ashwinkarthik Selvaraj">
    <!-- Font-Awesome Cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css">
    <!-- Materialize Cdn and Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Yatra Spiritual Tours</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/chakra.png') }}">
</head>
<body class="main">
    
        <!-- Logo and Navbar -->
        <!-- Inspired by Code Institute Task Manager walkthrough project -->
        <header>
            <!-- top navbar -->
            <nav class="nav-extended text-shadow">
                <div class="nav-wrapper">
                    <a href="{{ url_for('get_locations')}}" class="brand-logo">Yaatra</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('get_locations')}}">Home</a></li>                    
                        {% if session.user %}          
                            <li><a href="{{ url_for('browse_sites') }}">Browse Sites</a></li>
                            <li><a href="#">Add Review</a></li>
                            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                            <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                        {% else %}
                            <li><a href="{{ url_for('login') }}">Sign In</a></li>
                            <li><a href="{{ url_for('register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            
            <!-- mobile sidenav -->
            <ul class="sidenav" id="mobile-demo">
                <li><h4 class="center-align light-blue-text text-darken 4">Yaatra</h4></li>
                <li><a href="{{ url_for('get_locations')}}">Home</a></li>
                {% if session.user %}          
                    <li><a href="{{ url_for('browse_sites') }}">Browse Sites</a></li>
                    <li><a href="#">Add Review</a></li>
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Sign In</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        
            {% block header %}
            {% endblock %}
            
            
        </header>
    

    <!-- Modal to display flash messages-->
    <section>
        <!-- Modal Trigger -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="flash-modal-trigger" style="display: none;"></div>
                <!-- Modal Structure -->
                <div id="flash-modal" class="modal">
                    <div class="modal-content">                        
                        {% for message in messages %}
                            <h4>{{ message }}</h4>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="fa-solid fa-xmark"></i></a>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
    </section>
    
    <main>
    {% block body %}
    {% endblock %}
    </main>
    
    <!-- Footer -->
    <footer class="page-footer">        
        <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>        
      </footer>
    
    <!-- ** SCRIPTS ** -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>