{% extends "base.html" %}
{% block header %}
    <section class="main">
        {% if session.user %}
        <div class="container">
            <div class="row">
                <div class="col s12 center-align">
                    <a class="waves-effect waves-light btn-small orange lighten-2 black-text" href="{{ url_for('add_site') }}">
                        <i class="fa-solid fa-plus"></i> Add Site
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </section>
{% endblock%}

{% block body %}
    <section class="container">        
        <!-- Inspired by Code Institute Task Manager walkthrough project -->
        <!-- Collapsible to display Spiritual Sites -->
        <ul class="collapsible popout">
            {% for locations in locations %}
                <li>
                <div class="collapsible-header orange lighten-2 black-text">
                    <div class="col 3">
                        <i class="fa-solid fa-gopuram prefix"></i>                        
                    </div>
                    <div>                  
                    <b>{{ locations.site_name }}</b>
                    {% if locations.access %}
                    <i class="fa-solid fa-wheelchair"></i>
                    {% endif %}
                    </div>
                    {% if session.user|lower == locations.created_by|lower %}
                    <div class="col 3">
                        <a href="{{ url_for('edit_site', locations_id=locations._id) }}" class="btn-xsmall yellow accent-3 black-text">Edit</a>
                        <a href="{{ url_for('delete_site', locations_id=locations._id) }}" class="btn-xsmall red darken-4 black-text delete-btn" style="text-shadow: 2px 2px 2px rgba(8, 8, 8, 0.2);">Delete</a>                        
                    </div>
                    {% endif %}
                </div>
                <div class="collapsible-body">
                    <h6>Deity: {{ locations.deity }}</h6>
                    <p>Part of India: {{ locations.part_name }}</p>                    
                    <p>{{ locations.description }}</p>
                </div>
                </li>
            {% endfor %}          
        </ul>
    </section>
{% endblock %}