{% extends "base.html" %}
{% block header %}
    <section class="main">
        {% if session.user %}
        <div class="container">
            <div class="row">
                <div class="col s12 center-align">
                    <a class="waves-effect waves-light btn-small orange lighten-2 black-text" href="{{ url_for('add_site') }}">
                        <i class="fa-solid fa-plus"></i> Add Site
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </section>
{% endblock%}

{% block body %}
    <section class="container">        
        <!-- Inspired by Code Institute Task Manager walkthrough project -->
        <!-- Collapsible to display Spiritual Sites -->
        <ul class="collapsible popout">
            {% for locations in locations %}
                <li>
                <div class="collapsible-header orange lighten-2 black-text">
                    <i class="fa-solid fa-gopuram prefix"></i>
                    <h6>{{ locations.site_name }}</h6>
                    {% if locations.access %}
                    <i class="fa-solid fa-wheelchair"></i>
                    {% endif %}
                </div>
                <div class="collapsible-body">
                    <h6>Deity: {{ locations.deity }}</h6>
                    <p>Part of India: {{ locations.part_name }}</p>                    
                    <p>{{ locations.description }}</p>
                </div>
                </li>
            {% endfor %}          
        </ul>
    </section>
{% endblock %}