{% extends "base.html" %}
{% block header %}
<!-- Page Banner -->
<section class="container">    
    <div class="row">
        <div class="col s12">
            <p class="banner center-align">
                <b style="text-decoration: underline;">Want to Update an Entry?</b><br>
                Keep our knowledge base accurate and up-to-date by editing site details.
            </p>
        </div>
    </div>
</section>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_site', locations_id=locations._id) }}">
            <div class="card-panel">
                <!-- Site Name Input Field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-gopuram prefix black-text"></i>
                        <input id="site_name" name="site_name" type="text" 
                               value="{{ locations.site_name }}" required minlength="3" maxlength="100">
                        <label for="site_name">Site Name</label>
                        <span class="helper-text" data-error="Enter 3-100 characters" data-success=""></span>
                    </div>
                </div>

                <!-- Deity Field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-praying-hands prefix black-text"></i>
                        <input id="deity" name="deity" type="text" 
                               value="{{ locations.deity }}" required minlength="3" maxlength="50">
                        <label for="deity">Deity</label>
                        <span class="helper-text" data-error="Enter 3-50 characters" data-success=""></span>
                    </div>
                </div>

                <!-- Part of India Location Selection List -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-regular fa-compass prefix black-text"></i>
                        <select id="part_name" name="part_name" class="validate" required>
                            <option value="" disabled>Select the Region of India</option>
                            {% for part_name in part %}
                                <option value="{{ part_name }}" 
                                    {% if locations.part_name == part_name %}selected{% endif %}>
                                    {{ part_name }}
                                </option>
                            {% endfor %}
                        </select>
                        <label for="part_name">Part of India</label>
                        <span class="helper-text" data-error="Please select a region" data-success=""></span>
                    </div>
                </div>

                <!-- Description Field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix black-text"></i>
                        <textarea id="description" name="description" class="materialize-textarea" 
                                  required minlength="10" maxlength="500">{{ locations.description }}</textarea>
                        <label for="description">Description</label>
                        <span class="helper-text" data-error="Enter 10-500 characters" data-success=""></span>
                    </div>
                </div>

                <!-- Disabled Access Checkbox -->
                <div class="row center-align">
                    <label for="access" class="black-text">
                        <input id="access" name="access" type="checkbox" class="filled-in" 
                               {% if locations.access %}checked{% endif %} />
                        <span> Disabled Access <i class="fa-solid fa-wheelchair prefix black-text"></i></span>
                    </label>
                </div>

                <!-- Submit Button -->
                <div class="row center-align">
                    <button type="submit" class="col s5 offset-s3 btn black-text text-darken-4 orange">
                        Update <i class="fa-solid fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}