{% extends "base.html" %}

{% block header %}
<!-- ** PAGE BANNER ** -->
<section>
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                <b>Welcome Back!</b>
                <b>Sign In to Your Account!</b>
            </p>
            <p class="center-align">
                <b>Don't Have an Account?</b>
                <a href="{{ url_for('register') }}" class="light-blue-text text-darken-4">
                    <b>Sign up and get started!</b>
                </a>
            </p>
        </div>
    </div>
</section>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
                <!-- Username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-user prefix black-text"></i>
                        <input id="username" name="username" type="text" minlength="5" maxlength="8" pattern="^[a-zA-Z0-9]{5,8}$" class="validate" required>
                        <label for="username" class="black-text">Username</label>
                    </div>
                </div>

                <!-- Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-lock prefix black-text"></i>
                        <input id="password" name="password" type="password" minlength="5" maxlength="8" pattern="^[a-zA-Z0-9]{5,8}$" class="validate" required>
                        <label for="password" class="black-text">Password</label>
                    </div>
                </div>
                
                <!-- Login Button -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large black white-text">
                        Sign in <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}