{% extends "base.html" %}

{% block header %}
<!-- ** PAGE BANNER ** -->
<section id="home-page-header" class="parallax-container">
    <div class="parallax main">        
    </div>
    <div class="heading-text-block white-text">
        <br>
        <h1 class="flow-text fw-bold">Register</h1>
        <div class="container">
            <p class="flow-text lead mb-4">Create an Account</p>
        </div>
        <br>
    </div>
</section>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
                <!-- Username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-user prefix light-blue-text text-darken-4"></i>
                        <input id="username" name="username" type="text" minlength="5" maxlength="8" pattern="^[a-zA-Z]{5,8}$" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>

                <!-- Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-lock prefix light-blue-text text-darken-4"></i>
                        <input id="password" name="password" type="password" minlength="5" maxlength="8" pattern="^[a-zA-Z0-9]{5,8}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                
                <!-- login Button -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                        Sign in <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Don't Have an Account? <a href="{{ url_for('register')}}" class="ligth-blue-text text-darken-4">Sign up and get started!</a>
            </p>
        </div>
    </div>

</div>

{% endblock %}