{% extends "base.html" %}

{% block header %}
    <section class="main">
        {% if session.user %}
        <div class="container">
            <div class="row">
                <div class="col s12 center-align">
                    <a class="waves-effect waves-light btn-small orange lighten-2 black-text" href="{{ url_for('add_site') }}">
                        <i class="fa-solid fa-plus"></i> Add Insight
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </section>
{% endblock%}

{% block body %}
    <section class="container">
        <h2>Vertical Tabs</h2>
        <p>Click on the buttons inside the tabbed menu:</p>

        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">London</button>
            <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
        </div>

        <div id="London" class="tabcontent">
            <h3>London</h3>
            <p>London is the capital city of England.</p>
        </div>

        <div id="Paris" class="tabcontent">
            <h3>Paris</h3>
            <p>Paris is the capital of France.</p>
        </div>

        <div id="Tokyo" class="tabcontent">
            <h3>Tokyo</h3>
            <p>Tokyo is the capital of Japan.</p>
        </div>
    </section>
{% endblock %}