{% extends "base.html" %}

{% block header %}
<!-- ** PAGE BANNER ** -->
<section>
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                <b>Already Have a Profile?</b> 
                <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4"><b>Sign In Here!</b></a>
            </p>
        </div>
    </div>
</section>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <form class="col s12 m8 offset-m2" action="{{ url_for('register') }}" method="POST">
            <div class="card-panel">
                <!-- Username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-user-plus prefix black-text"></i>
                        <input id="username" name="username" type="text" minlength="5" maxlength="8" pattern="^[a-zA-Z0-9]{5,8}$" class="validate" required>
                        <label for="username" class="black-text">Username</label>
                        <p class="helper-text">An alphanumeric value of 5-8 characters</p>
                    </div>
                </div>

                <!-- Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-lock prefix black-text"></i>
                        <input id="password" name="password" type="password" minlength="5" maxlength="8" pattern="^[a-zA-Z0-9]{5,8}$" class="validate" required>
                        <label for="password" class="black-text">Password</label>
                        <p class="helper-text">An alphanumeric value of 5-8 characters</p>
                    </div>
                </div>

                <!-- Confirm Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-lock prefix black-text"></i>
                        <input id="confirm_password" name="confirm_password" type="password" class="validate" required>
                        <label for="confirm_password" class="black-text">Confirm Password</label>
                        <p class="helper-text">Ensure this matches the password above</p>
                    </div>
                </div>

                <!-- Register Button -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large black white-text">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}